# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs and debug output
*.log
*.txt

# Unit test / Coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode settings
.vscode/
